<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squirtle</title>
</head>
<body>
    <main class="card-container">
  <article class="card">
    <span class="id">#007</span>
    <h1>Squirtle</h1>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/7.png" alt="Squirtle" />
    <div class="types">
      <span class="badge water">AGUA</span>
    </div>
    <p>Cuando retrae su largo cuello en el caparazón, dispara agua a gran presión con una fuerza sorprendente.</p>
  </article>
</main>
</body>
</html>