<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gengar</title>
</head>
<body>
    <main class="card-container">
  <article class="card">
    <span class="id">#094</span>
    <h1>Gengar</h1>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/94.png" alt="Gengar" />
    <div class="types">
      <span class="badge ghost">FANTASMA</span>
      <span class="badge poison">VENENO</span>
    </div>
    <p>Para quitarle la vida a su presa, se desliza en la sombra de su víctima y espera silenciosamente el momento adecuado.</p>
  </article>
</main>
</body>
</html>